<div id="<%= dom_id post %>">

 <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

  <p>
    <strong>Post Img name:</strong>
    <%= post.img_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

<!-- модель post связана с моделью like, в таблице likes есть столбец like используется для хранения информации о дизлайках(0),лайках(1) и null(ничего не выбрано). Значение true означает, что лайк является лайком, а значение false означает, что лайк является дизлайком -->
<div>
    <p>
     <%= check_box :like, style: "display: block" %>
        <strong>Like:</strong>
        <%= post.likes.where(like: true).count %>
        <!-- New like должен вызывать create Like -->
    </p>   


<p>
<%= check_box :like, style: "display: block" %>
<strong>Dislike:</strong>
<%= post.likes.where(like: false).count %>
</p>

</div>
