<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Img avatar name:</strong>
    <%= user.img_avatar_name %>
  </p>

  <p>
    <strong>About myself:</strong>
    <%= user.about_myself %>
  </p>

</div>
